* {
    font-family: 'Inter', sans-serif;
}

.title1{
    font-weight: var(--fontWeigth-title1);
    font-size: var(--fontSize-title1);
    line-height: var(--lineHeight-title1);
}

.title2{
    font-weight: var(--fontWeigth-title2);
    font-size: var(--fontSize-title2);
    line-height: var(--lineHeight-title2); 
}

.text1{
    font-weight: var(--fontWeigth-text1);
    font-size: var(--fontSize-text1);
    line-height: var(--lineHeight-text1); 
}

.text2{
    font-weight: var(--fontWeigth-text2);
    font-size: var(--fontSize-text2);
    line-height: var(--lineHeight-text2); 
    color: var(--grey2);
}

.text3{
    font-weight: var(--fontWeigth-text3);
    font-size: var(--fontSize-text3);
    line-height: var(--lineHeight-text3); 
}